@model test.Web.Models.EditTeacherViewModel
<div>
    <div>
        @Html.DisplayNameFor(x => x.Name)
        @Html.EditorFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div>
        @Html.DisplayNameFor(x => x.Surname)
        @Html.EditorFor(x => x.Surname)
        @Html.ValidationMessageFor(x => x.Surname)
    </div>
    <div>
        @Html.DisplayNameFor(x => x.TeacherType)
        @Html.DropDownListFor(x => x.TeacherType, Model.TeacherTypes)
        @Html.ValidationMessageFor(x => x.TeacherType)
    </div>
</div>
<input type="submit" value="Submit" class="btn-dark" />