@model test.Models.ViewModels.PupilViewModel

<div>
    <div>
        @Html.DisplayNameFor(x => x.Name)
        @Html.EditorFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div>
        @Html.DisplayNameFor(x => x.Surname)
        @Html.EditorFor(x => x.Surname)
        @Html.ValidationMessageFor(x => x.Surname)
    </div>
    <div>
        @Html.DisplayNameFor(x => x.Gender)
        @Html.EnumDropDownListFor(x => x.Gender)
        @Html.ValidationMessageFor(x => x.Gender)
    </div>
    @Html.HiddenFor(x=> x.IdClass)
</div>
<input type="submit" value="Submit" class="btn-dark"/>