@model test.Models.ViewModels.SchoolClassViewModel

<div class="form-group col-md-12">
    <div>
        @Html.DisplayNameFor(x => x.Name)
        @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(x => x.Name)
    </div><br>
    <input type="submit" value="@(ViewBag.Title ?? "Add Class")" class="btn-primary btn" />
    @if (!string.IsNullOrEmpty(ViewBag.Title))
    {
        @Html.ActionLink("Cancel", "Index")
    }
</div>