@model test.Models.ViewModels.SchoolClassViewModel

<div class="jumbotron">
    @Html.DisplayNameFor(x => x.Name)
    @Html.EditorFor(x => x.Name)
    <br>
    @Html.ValidationMessageFor(x => x.Name)
    <br>
    <input type="submit" value="@(ViewBag.Title ?? "Add Class")" class="btn-primary" />
    @if (!string.IsNullOrEmpty(ViewBag.Title))
    {
        @Html.ActionLink("Cancel", "Index")
    }
</div>