@using test.Models.ViewModels
@{
    @model IEnumerable<SchoolClassViewModel>
}

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <label>@ViewBag.Message</label>
}
<br>
<div class="col-md-12">
    <label>Director: </label>
    @{
        var director = ViewBag.Director;
        if (director != null)
        {
            <label>@director.FullName</label>
        }
        @Html.ActionLink("Change", "ChangeDirector", "Teacher");
    }
</div>
<div class="row">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (SchoolClassViewModel item in Model)
            {
                @Html.Partial("SchoolClassView", item)
            }
        </tbody>
    </table><br><br>
    @using (Html.BeginForm("AddClass", "Home"))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("AddClass", new SchoolClassViewModel())
    }
</div>